version: '3.8'

services:
  argocd-server:
    image: argoproj/argocd:latest
    container_name: argocd-server
    ports:
      - "8081:8080"   # Host 8081 -> ArgoCD 8080 (since Jenkins uses 8080)
    command: ["argocd-server", "--insecure"]
    depends_on:
      - argocd-repo-server
      - argocd-application-controller

  argocd-repo-server:
    image: argoproj/argocd:latest
    container_name: argocd-repo-server
    command: ["argocd-repo-server"]

  argocd-application-controller:
    image: argoproj/argocd:latest
    container_name: argocd-application-controller
    command: ["argocd-application-controller"]
